# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.psd
*.zip


# GPP_Replacements

GameData/GPP/GPP_Replacements/ExtraKerbals/*.dll
GameData/GPP/GPP_Replacements/ExtraKerbals/*.pdb
GameData/GPP/GPP_Replacements/ExtraKerbals/Source/obj
GameData/GPP/GPP_Replacements/ExtraKerbals/Source/bin
GameData/GPP/GPP_Replacements/ExtraKerbals/Source/.vs
!GameData/GPP/GPP_Replacements/ExtraKerbals/Extra*.dll


# GPP_Renamer
GameData/GPP/GPP_Renamer/*.dll
GameData/GPP/GPP_Renamer/*.pdb
GameData/GPP/GPP_Renamer/*.xml
GameData/GPP/GPP_Renamer/Source/obj
GameData/GPP/GPP_Renamer/Source/bin
GameData/GPP/GPP_Renamer/Source/.vs
!KerbalRenamer.dll


# GPP_InstallationChecker
GameData/GPP/GPP_InstallationChecker/Distribution/
GameData/GPP/GPP_InstallationChecker/Source/.vs/
GameData/GPP/GPP_InstallationChecker/Source/bin/
GameData/GPP/GPP_InstallationChecker/Source/obj/
